<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.akvo.flow.offlinemaps">

    <application>
        <activity
            android:name="org.akvo.flow.offlinemaps.presentation.view.OfflineAreaViewActivity"
            android:parentActivityName=".presentation.list.OfflineAreasListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.list.OfflineAreasListActivity" />
        </activity>
        <activity
            android:name="org.akvo.flow.offlinemaps.presentation.list.OfflineAreasListActivity"
            android:label="@string/offline_maps_list_title">
        </activity>
        <activity
            android:name="org.akvo.flow.offlinemaps.presentation.download.OfflineMapDownloadActivity"
            android:label="@string/offline_map_activity_title" />
    </application>
</manifest>
