# Globally ignored files
.DS_Store
*.class
*.rpc
*.swp
*build.properties

# Eclipse files
*.classpath
*.externalToolBuilders
*.project
*.settings

# Testing
.calabash_settings

app/bin
app/gen
app/project.properties
survey.properties
survey_test/bin
survey_test/gen
survey_test/src/com/jayway/test/SurveyDataTest.java

# Android Studio and Gradle
local.properties
*.iml
*.iws
*.ipr
.idea/
.gradle/
build/
gradle.properties

# Local debug settings
app/src/debug/raw/survey.properties

#Builds
builds/
tmp/

util/scripts/temp.md
