<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.akvo.flow">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".app.FlowApp"
        android:allowBackup="false"
        android:hasCode="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/FlowAppTheme"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:ignore="GoogleAppIndexingWarning">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".presentation.form.view.FormViewActivity"
            android:theme="@style/FlowAppTheme" />
        <activity
            android:name=".presentation.main.MainActivity"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AddUserActivity"
            android:theme="@style/FlowAppTheme.NoTitle"/>
        <activity
            android:name=".activity.SurveyActivity"
            android:label="@string/app_name" />
        <activity android:name=".presentation.record.RecordActivity" />
        <activity
            android:theme="@style/FormAppTheme"
            android:name=".activity.FormActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.TransmissionHistoryActivity"
            android:label="@string/transmissionhist" />
        <activity
            android:name=".activity.AppUpdateActivity"
            android:label="@string/app_update_activity"
            android:launchMode="singleTop"
            android:theme="@style/FlowAppThemeDialog" />
        <activity
            android:name=".activity.TimeCheckActivity"
            android:label="@string/time_check_activity"
            android:launchMode="singleTop"
            android:theme="@style/FlowAppThemeDialog" />
        <activity
            android:name=".presentation.signature.SignatureActivity"
            android:screenOrientation="landscape"
            android:theme="@style/FlowAppTheme.NoTitle"/>
        <activity android:name=".presentation.datapoints.map.one.DataPointMapActivity" />

        <service android:name=".service.time.TimeCheckWorker" />
        <service android:name=".service.UnPublishDataService" />

        <receiver android:name=".broadcast.UpdateReceiver">
            <intent-filter
                android:enabled="true"
                android:exported="true">
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast.BootStrapReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="org.akvo.flow.BOOTSTRAP_NEEDED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast.DataTimeoutReceiver"
            android:exported="false" />
        <receiver
            android:name=".broadcast.BootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.time.CancelNotificationReceiver" />
        <activity
            android:name=".presentation.about.AboutActivity"
            android:label="@string/about_activity_title" />
        <activity
            android:name=".presentation.help.HelpActivity"
            android:label="@string/help" />
        <activity
            android:name=".presentation.legal.LegalNoticesActivity"
            android:label="@string/licences_title" />
        <activity
            android:name=".presentation.settings.PreferenceActivity"
            android:label="@string/settings" />
        <activity
            android:name=".presentation.FullImageActivity"
            android:label="" />
        <activity android:name="org.akvo.flow.walkthrough.presentation.OfflineMapsWalkThroughActivity"
            android:parentActivityName=".activity.SurveyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SurveyActivity" />
        </activity>
        <activity android:name=".presentation.geoshape.ViewGeoShapeActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".presentation.geoshape.create.CreateGeoShapeActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/GeoShapeTheme"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.akvo.flow.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>