<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.akvo.flow"
    android:versionCode="1"
    android:versionName="1.15.6" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="org.akvo.flow.app.FlowApp"
        android:hasCode="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/Flow.Theme" >
        <activity
            android:name="org.akvo.flow.activity.SurveyGroupListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.akvo.flow.activity.RecordListActivity"
            android:label="@string/record_list_activity"
            android:launchMode="singleTop">
            <intent-filter>
                    <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name="org.akvo.flow.activity.RecordActivity" />
        <activity
            android:name="org.akvo.flow.activity.SurveyActivity"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="org.akvo.flow.activity.ListUserActivity"
            android:label="@string/userlabel"/>
        <activity android:name="org.akvo.flow.activity.UserEditActivity" />
        <activity android:name="org.akvo.flow.activity.SettingsActivity"
            android:label="@string/settingslabel"/>
        <activity android:name="org.akvo.flow.activity.PreferencesActivity" />
        <activity android:name="org.akvo.flow.activity.ImageBrowserActivity" />
        <activity android:name="org.akvo.flow.activity.TransmissionHistoryActivity" />
        <service android:name="org.akvo.flow.service.DataSyncService" />
        <service android:name="org.akvo.flow.service.SurveyDownloadService" />
        <service android:name="org.akvo.flow.service.LocationService" />
        <service android:name="org.akvo.flow.service.BootstrapService" />
        <service android:name="org.akvo.flow.service.ExceptionReportingService" />
        <service android:name="org.akvo.flow.service.ApkUpdateService" />
        <service android:name="org.akvo.flow.service.SurveyedLocaleSyncService" />

        <receiver android:name=".broadcast.SyncDataReceiver" >
            <intent-filter>
                <action android:name="org.akvo.flow.DATA_SUBMITTED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBPyguWZrQi2xcqs49WajwQ6FYeSHpaEFQ"/>
        
        <provider
            android:name="org.akvo.flow.dao.DataProvider"
            android:authorities="org.akvo.flow"
            android:label="@string/app_name"
            android:syncable="true"
            android:writePermission="org.akvo.flow.permission.WRITE_SCHEDULE" />
        
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        
    </application>

</manifest>
