<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.akvo.flow.maps">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>
        <activity
            android:name="org.akvo.flow.maps.presentation.view.OfflineAreaViewActivity"
            android:parentActivityName="org.akvo.flow.maps.presentation.list.OfflineAreasListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.akvo.flow.maps.presentation.list.OfflineAreasListActivity" />
        </activity>
        <activity
            android:name="org.akvo.flow.maps.presentation.list.OfflineAreasListActivity"
            android:label="@string/offline_maps_list_title"/>
        <activity
            android:name="org.akvo.flow.maps.presentation.download.OfflineMapDownloadActivity"
            android:label="@string/offline_map_activity_title" />
    </application>
</manifest>
